@charset "utf-8";

/* Reset CSS */
body, h1, h2, h3, h4, h5, h6, p, dl, ul, dt, dd {
	margin: 0;
	padding: 0;
}
ul, ol {
	list-style: none;
}
a {
	text-decoration: none;
	color: #000;
}
img {
	vertical-align: middle;
}
body {
	font-size: 1em;
	color: #000;
}