@charset "utf-8";
@import "reset";

html {
  font-family: 'Open Sans', sans-serif;
  background-color: #111;
}

body {
  overflow-x: hidden;
}

.wrapper {
  background-image: url('../images/previewty_bg_pc.svg');
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
}

.wrapper_inner {
  margin: 0 auto;
  width: 1534px;
}

.blur {
  backdrop-filter: blur(30px);
  background-color: rgba(255, 255, 255, .03);
}

.gold_gradient {
  background: -webkit-linear-gradient(-45deg, rgba(200,151,73,1) 0%,rgba(255,238,157,1) 13%,rgba(222,172,85,1) 22%,rgba(253,221,144,1) 46%,rgba(232,197,118,1) 71%,rgba(202,152,62,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, rgba(200,151,73,1) 0%,rgba(255,238,157,1) 13%,rgba(222,172,85,1) 22%,rgba(253,221,144,1) 46%,rgba(232,197,118,1) 71%,rgba(202,152,62,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-box-decoration-break: clone;
  font-weight: 700;
  text-shadow: 0 0 10px rgba(253, 221, 144, .24);
}

.previewty_gnb {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0 100px;
  box-sizing: border-box;
  .previewty_gnb_right {
    display: flex;
    align-items: center;
    .korea_btn, .vietnam_btn {
      display: flex;
      align-items: center;
      font-size: 16px;
      line-height: 16px;
      font-weight: 500;
      img {
        margin-right: 8px;
      }
    }
    .vietnam_btn {
      margin-left: 24px;
    }
    .gnb_btn {
      margin-left: 36px;
      cursor: pointer;
    }
  }
  
}

.previewty_cover {
  position: relative;
  display: flex;
  flex-direction: column;
  padding-top: 60px;
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
  .wrapper_inner {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
  }
  .previewty_cover_title {
    margin-top: 38px;
    font-size: 48px;
    line-height: 64px;
    font-weight: 600;
  }
  .country {
    margin-top: 16px;
    margin-bottom: 120px;
    display: flex;
    img {
      &:first-child {
        margin-left: 0;
      }
      margin-left: 12px;
    }
  }
  .previewty_cover_bg {
    width: 100%;
    position: absolute;
    bottom: 0;
  }
  .scroll_info {
    position: absolute;
    left: 50%;
    bottom: 30px;
    transform: translateX(-50%);
  }
}

.previewty_consult {
  height: 600px;
}