/* Reset CSS */
body, h1, h2, h3, h4, h5, h6, p, dl, ul, dt, dd {
  margin: 0;
  padding: 0; }

ul, ol {
  list-style: none; }

a {
  text-decoration: none;
  color: #000; }

img {
  vertical-align: middle; }

body {
  font-size: 1em;
  color: #000; }

@keyframes moving {
  0% {
    bottom: 32px; }
  50% {
    bottom: 42px; }
  100% {
    bottom: 32px; } }
html {
  overflow-x: hidden;
  font-family: 'Open Sans', sans-serif;
  background-color: #111; }

body {
  overflow-x: hidden;
  box-sizing: border-box; }

.onlyMobileBr {
  display: none; }

.unlessPcBr {
  display: none; }

@media only screen and (max-width: 991px) {
  .unlessPcBr {
    display: block; } }
@media only screen and (max-width: 767px) {
  .onlyMobileBr {
    display: block; } }
.text_title {
  padding-left: 20px;
  border-left: 4px solid #E60012;
  font-size: 38px;
  line-height: 52px;
  font-weight: 600; }

.text_sub {
  margin-top: 24px;
  padding-left: 24px;
  font-size: 22px;
  line-height: 32px;
  font-weight: 300;
  color: rgba(255, 255, 255, 0.64); }

@media only screen and (max-width: 1574px) {
  .text_title {
    font-size: 34px;
    line-height: 48px; }

  .text_sub {
    font-size: 20px;
    line-height: 30px; } }
@media only screen and (max-width: 1366px) {
  .text_title {
    font-size: 30px;
    line-height: 44px; }

  .text_sub {
    font-size: 18px;
    line-height: 28px; } }
@media only screen and (max-width: 991px) {
  .text_title {
    padding-left: 0;
    border-left: none;
    font-size: 24px;
    line-height: 38px; }
    .text_title.strong {
      font-size: 30px;
      line-height: 30px; }

  .text_sub {
    margin-top: 14px;
    padding-left: 0;
    font-size: 18px;
    line-height: 28px; } }
@media only screen and (max-width: 767px) {
  .text_title {
    font-size: 20px;
    line-height: 28px; }

  .text_sub {
    font-size: 16px;
    line-height: 24px; } }
.wrapper {
  background-image: url("../images/previewty_bg_pc.svg");
  background-position: center -510px;
  background-repeat: repeat;
  background-size: 150%;
  color: #fff; }

.wrapper_inner {
  margin: 0 auto;
  width: 1534px;
  box-sizing: border-box; }

@media only screen and (max-width: 1574px) {
  .wrapper_inner {
    width: 1200px; } }
@media only screen and (max-width: 1366px) {
  .wrapper_inner {
    width: 992px; } }
@media only screen and (max-width: 991px) {
  .wrapper_inner {
    width: 100%;
    padding: 0 20px; } }
@media only screen and (max-width: 767px) {
  .wrapper {
    background-image: url("../images/previewty_bg_mobile.svg");
    background-position: center -160px;
    background-repeat: repeat;
    background-size: 180%; } }
.blur {
  backdrop-filter: blur(30px);
  background-color: rgba(255, 255, 255, 0.03); }

.gold_gradient {
  background: -webkit-linear-gradient(-45deg, #c89749 0%, #ffee9d 13%, #deac55 22%, #fddd90 46%, #e8c576 71%, #ca983e 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, #c89749 0%, #ffee9d 13%, #deac55 22%, #fddd90 46%, #e8c576 71%, #ca983e 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-box-decoration-break: clone;
  font-weight: 700;
  text-shadow: 0 0 10px rgba(253, 221, 144, 0.24); }

.previewty_gnb {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0 100px;
  box-sizing: border-box; }
  .previewty_gnb .previewty_logo_pc {
    display: block; }
  .previewty_gnb .previewty_logo_mobile {
    display: none; }
  .previewty_gnb .previewty_gnb_right {
    display: flex;
    align-items: center; }
    .previewty_gnb .previewty_gnb_right .korea_btn, .previewty_gnb .previewty_gnb_right .vietnam_btn {
      display: flex;
      align-items: center;
      font-size: 16px;
      line-height: 16px;
      font-weight: 500; }
      .previewty_gnb .previewty_gnb_right .korea_btn img, .previewty_gnb .previewty_gnb_right .vietnam_btn img {
        margin-right: 8px; }
    .previewty_gnb .previewty_gnb_right .vietnam_btn {
      margin-left: 24px; }
    .previewty_gnb .previewty_gnb_right .gnb_btn {
      margin-left: 36px;
      cursor: pointer; }

@media only screen and (max-width: 1574px) {
  .previewty_gnb {
    padding: 0 60px; } }
@media only screen and (max-width: 1366px) {
  .previewty_gnb {
    padding: 0 30px; } }
@media only screen and (max-width: 991px) {
  .previewty_gnb {
    padding: 0 20px;
    height: 72px; }
    .previewty_gnb .previewty_gnb_right .korea_btn, .previewty_gnb .previewty_gnb_right .vietnam_btn {
      display: none; } }
@media only screen and (max-width: 767px) {
  .previewty_gnb .previewty_logo_pc {
    display: none; }
  .previewty_gnb .previewty_logo_mobile {
    display: block; }
  .previewty_gnb .previewty_gnb_right .gnb_btn {
    margin-left: 0; } }
.previewty_cover {
  position: relative;
  display: flex;
  flex-direction: column;
  padding-top: 60px;
  width: 100%;
  height: 100vh;
  box-sizing: border-box; }
  .previewty_cover .wrapper_inner {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center; }
  .previewty_cover .previewty_cover_title {
    margin-top: 38px;
    font-size: 48px;
    line-height: 64px;
    font-weight: 600; }
  .previewty_cover .country {
    margin-top: 16px;
    margin-bottom: 120px;
    display: flex; }
    .previewty_cover .country img {
      margin-left: 12px; }
      .previewty_cover .country img:first-child {
        margin-left: 0; }
  .previewty_cover .previewty_cover_bg {
    width: 100%;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%); }
  .previewty_cover .scroll_info {
    position: absolute;
    left: 50%;
    bottom: 30px;
    animation: moving ease-in-out 0.8s infinite;
    transform: translateX(-50%); }

@media only screen and (max-width: 1574px) {
  .previewty_cover .previewty_cover_title {
    font-size: 42px;
    line-height: 58px; } }
@media only screen and (max-width: 1366px) {
  .previewty_cover .previewty_cover_face {
    width: 540px; }
  .previewty_cover .previewty_cover_title {
    margin-top: 26px;
    font-size: 32px;
    line-height: 48px; } }
@media only screen and (max-width: 991px) {
  .previewty_cover {
    padding-top: 0;
    height: auto; }
    .previewty_cover .previewty_cover_face {
      width: 440px;
      margin-top: 50px; }
    .previewty_cover .previewty_cover_title {
      margin-top: 20px;
      font-size: 28px;
      line-height: 44px; }
    .previewty_cover .previewty_cover_bg {
      transform: translateX(-50%) scale(2); }
    .previewty_cover .country {
      margin-bottom: 196px; }
    .previewty_cover .scroll_info {
      width: 26px; } }
@media only screen and (max-width: 767px) {
  .previewty_cover {
    padding-top: 0;
    height: auto; }
    .previewty_cover .previewty_cover_face {
      margin-top: 34px;
      width: 294px; }
    .previewty_cover .previewty_cover_title {
      font-size: 20px;
      line-height: 28px; }
    .previewty_cover .country {
      margin-top: 8px;
      margin-bottom: 120px; }
      .previewty_cover .country img {
        width: 28px; }
    .previewty_cover .scroll_info {
      width: 20px; } }
.previewty_consult {
  position: relative;
  z-index: 2;
  padding: 68px 0; }
  .previewty_consult .wrapper_inner {
    display: flex;
    justify-content: center;
    align-items: center; }
  .previewty_consult .previewty_consult_img {
    border-radius: 4px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16); }
  .previewty_consult .text_area {
    margin-left: 76px; }

@media only screen and (max-width: 1574px) {
  .previewty_consult .previewty_consult_img {
    width: 520px; } }
@media only screen and (max-width: 1366px) {
  .previewty_consult .previewty_consult_img {
    width: 420px; } }
@media only screen and (max-width: 991px) {
  .previewty_consult {
    padding: 20px 0; }
    .previewty_consult .wrapper_inner {
      flex-direction: column; }
    .previewty_consult .previewty_consult_img {
      width: 100%;
      margin-bottom: 20px; }
    .previewty_consult .text_area {
      margin-left: 0;
      text-align: center; } }
.previewty_design {
  padding: 140px 0 180px 0; }
  .previewty_design .wrapper_inner {
    display: flex;
    align-items: center;
    justify-content: center; }
  .previewty_design .previewty_design_face_area {
    display: flex;
    align-items: center; }
    .previewty_design .previewty_design_face_area .previewty_design_face {
      position: relative;
      border-radius: 50%;
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover; }
      .previewty_design .previewty_design_face_area .previewty_design_face::before {
        position: absolute;
        display: block;
        left: 50%;
        transform: translateX(-50%); }
      .previewty_design .previewty_design_face_area .previewty_design_face.after {
        z-index: 2;
        width: 377px;
        height: 377px;
        box-shadow: 0 0 20px rgba(230, 0, 18, 0.7);
        background-image: url("./../images/previewty_design_face_after.jpg"); }
        .previewty_design .previewty_design_face_area .previewty_design_face.after::before {
          content: 'After';
          top: calc(100% + 16px);
          font-size: 24px;
          line-height: 24px;
          color: rgba(255, 255, 255, 0.74); }
      .previewty_design .previewty_design_face_area .previewty_design_face.before {
        margin-right: -37px;
        width: 255px;
        height: 255px;
        background-image: url("./../images/previewty_design_face_before.jpg"); }
        .previewty_design .previewty_design_face_area .previewty_design_face.before::before {
          content: 'Before';
          top: calc(100% + 14px);
          font-size: 20px;
          line-height: 20px;
          color: rgba(255, 255, 255, 0.48); }
  .previewty_design .text_area {
    margin-left: 96px; }
  .previewty_design .previewty_design_report {
    margin-top: 38px;
    font-size: 0; }
    .previewty_design .previewty_design_report img {
      width: 250px;
      display: inline-block;
      border-radius: 4px;
      margin-left: 8px;
      overflow: hidden; }
      .previewty_design .previewty_design_report img:first-child {
        margin-left: 0; }

@media only screen and (max-width: 1574px) {
  .previewty_design {
    padding: 120px 0 160px 0; }
    .previewty_design .previewty_design_face_area .previewty_design_face.after {
      width: 337px;
      height: 337px; }
    .previewty_design .previewty_design_face_area .previewty_design_face.before {
      width: 215px;
      height: 215px; }
    .previewty_design .previewty_design_report img {
      width: 190px; } }
@media only screen and (max-width: 1366px) {
  .previewty_design .previewty_design_face_area .previewty_design_face.after {
    width: 297px;
    height: 297px; }
  .previewty_design .previewty_design_face_area .previewty_design_face.before {
    width: 175px;
    height: 175px; }
  .previewty_design .previewty_design_report img {
    width: 146px; } }
@media only screen and (max-width: 991px) {
  .previewty_design {
    margin-top: 50px;
    padding: 0; }
    .previewty_design .wrapper_inner {
      flex-direction: column; }
    .previewty_design .previewty_design_face_area .previewty_design_face.after::before {
      top: calc(100% + 10px);
      font-size: 16px;
      line-height: 16px; }
    .previewty_design .previewty_design_face_area .previewty_design_face.before {
      margin-right: -19px; }
      .previewty_design .previewty_design_face_area .previewty_design_face.before::before {
        top: calc(100% + 8px);
        font-size: 14px;
        line-height: 14px; }
    .previewty_design .text_area {
      width: 100%;
      margin-top: 60px;
      margin-left: 0;
      text-align: center; }
    .previewty_design .previewty_design_report {
      width: 100%;
      border-radius: 4px;
      padding: 16px;
      backdrop-filter: blur(30px);
      background-color: rgba(255, 255, 255, 0.03);
      box-sizing: border-box; }
      .previewty_design .previewty_design_report img {
        margin-top: 16px;
        width: 100%;
        display: block;
        margin-left: 0; }
        .previewty_design .previewty_design_report img:first-child {
          margin-top: 0; } }
@media only screen and (max-width: 767px) {
  .previewty_design .previewty_design_face_area .previewty_design_face.after {
    width: 192px;
    height: 192px; }
    .previewty_design .previewty_design_face_area .previewty_design_face.after::before {
      font-size: 14px;
      line-height: 14px; }
  .previewty_design .previewty_design_face_area .previewty_design_face.before {
    width: 130px;
    height: 130px; }
    .previewty_design .previewty_design_face_area .previewty_design_face.before::before {
      font-size: 12px;
      line-height: 12px; }
  .previewty_design .text_area {
    margin-top: 50px; }
  .previewty_design .previewty_design_report {
    margin-top: 18px; }
    .previewty_design .previewty_design_report img {
      margin-top: 8px; } }
.previewty_service {
  padding: 60px;
  backdrop-filter: blur(30px);
  background-color: rgba(255, 255, 255, 0.03);
  border-radius: 4px;
  box-sizing: border-box; }
  .previewty_service .previewty_service_row {
    margin-top: 60px;
    display: flex;
    align-items: center;
    font-size: 0; }
    .previewty_service .previewty_service_row.first .text_sub {
      margin-left: 44px; }
    .previewty_service .previewty_service_row.second .text_sub {
      margin-right: 44px; }
    .previewty_service .previewty_service_row .previewty_service_row_img {
      flex-shrink: 0; }
      .previewty_service .previewty_service_row .previewty_service_row_img img {
        background-color: #111;
        border-radius: 4px;
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
        margin-left: 8px; }
        .previewty_service .previewty_service_row .previewty_service_row_img img:first-child {
          margin-left: 0; }
    .previewty_service .previewty_service_row .text_sub {
      flex-grow: 1;
      margin-top: 0;
      padding-left: 0; }
  .previewty_service .previewty_service_comment {
    margin-top: 60px;
    text-align: center;
    font-size: 26px;
    line-height: 40px;
    font-weight: 500;
    color: #fff; }
    .previewty_service .previewty_service_comment span {
      font-size: 30px;
      font-weight: 600;
      color: #E60012; }

@media only screen and (max-width: 1574px) {
  .previewty_service .previewty_service_row .previewty_service_row_img img {
    width: 260px; } }
@media only screen and (max-width: 1366px) {
  .previewty_service .previewty_service_row .previewty_service_row_img img {
    width: 200px; } }
@media only screen and (max-width: 991px) {
  .previewty_service {
    margin-top: 50px;
    padding: 0;
    text-align: center;
    backdrop-filter: none;
    background-color: transparent; }
    .previewty_service .previewty_service_row {
      margin-top: 24px;
      width: 100%;
      flex-direction: column; }
      .previewty_service .previewty_service_row.first .text_sub, .previewty_service .previewty_service_row.second .text_sub {
        margin-left: 0;
        margin-right: 0; }
      .previewty_service .previewty_service_row.second {
        flex-direction: column-reverse; }
      .previewty_service .previewty_service_row .previewty_service_row_img {
        width: 100%; }
        .previewty_service .previewty_service_row .previewty_service_row_img img {
          width: calc((100% - 8px)/2); }
      .previewty_service .previewty_service_row .text_sub {
        margin-top: 18px; }
    .previewty_service .previewty_service_comment {
      margin-top: 24px;
      font-size: 22px;
      line-height: 30px; }
      .previewty_service .previewty_service_comment span {
        font-size: 24px; } }
@media only screen and (max-width: 767px) {
  .previewty_service .previewty_service_comment {
    font-size: 16px;
    line-height: 24px; }
    .previewty_service .previewty_service_comment span {
      font-size: 18px; } }
.previewty_center {
  height: 3000px; }

/*# sourceMappingURL=style.css.map */
